@{
    ViewData["Title"] = "ManageShop";
 }


<div class="row">
    <div class="col-md-3">
        <h2>Shops</h2>

    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul></ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul></ul>
    </div>
</div>


