@using ShopMall.Models.ShopMallDBModels;
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>MyShopMall</h2>

<div class="row">
    <div class="col-md-3">
        <h3>PROFILE</h3>
        <a asp-controller="Manage" asp-action="EditProfile">EditProfile</a>
    </div>

    <div class="col-md-3">
        @{
            if (ViewData["UserShop"] != null)
            {
                var UserShop = (Shop)ViewData["UserShop"];
                <h3>
                    @Html.Raw(UserShop.Title)
                </h3>
            }
            else {
                @Html.Raw("<h3>SHOP</h3>");
            }
        }
        
        <a asp-controller="Manage" asp-action="ManageShopGoods">Edit Shop</a>
    </div>
    <div class="col-md-3">
        <h3>PURCHASES (viewed positions)</h3>

    </div>
</div>
